[submodule "Go/go-hardware"]
	path = Go/go-hardware
	url = https://github.com/rakyll/go-hardware.git
[submodule "Go/embd"]
	path = Go/embd
	url = https://github.com/kidoman/embd.git
[submodule "Python/Python-Design-Patterns"]
	path = Python/Python-Design-Patterns
	url = https://github.com/buckyroberts/Python-Design-Patterns.git
[submodule "Python/python-patterns"]
	path = Python/python-patterns
	url = https://github.com/faif/python-patterns.git
[submodule "C++/Books/Mastering-Cpp-Programming"]
	path = C++/Books/Mastering-Cpp-Programming
	url = https://github.com/PacktPublishing/Mastering-Cpp-Programming.git
[submodule "C++/Books/CppCoreGuidelines"]
	path = C++/Books/CppCoreGuidelines
	url = https://github.com/isocpp/CppCoreGuidelines.git
[submodule "C++/Books/Advanced-C-Cxx-2017"]
	path = C++/Books/Advanced-C-Cxx-2017
	url = https://github.com/W4RH4WK/UIBK-703807-Advanced-C-CXX.git
[submodule "C++/Books/design-patterns-cpp14"]
	path = C++/Books/design-patterns-cpp14
	url = https://github.com/makiolo/design-patterns-cpp14.git
[submodule "C++/Books/awesome-modern-cpp"]
	path = C++/Books/awesome-modern-cpp
	url = https://github.com/rigtorp/awesome-modern-cpp.git
[submodule "C++/Books/advanced-cpp"]
	path = C++/Books/advanced-cpp
	url = https://github.com/SofiaCPP/advanced-cpp.git
[submodule "C++/Books/Mastering-CPP-Multithreading"]
	path = C++/Books/Mastering-CPP-Multithreading
	url = https://github.com/PacktPublishing/Mastering-CPP-Multithreading.git
[submodule "C++/Books/Modern-Cxx-Design"]
	path = C++/Books/Modern-Cxx-Design
	url = https://github.com/inzombiak/Modern-C-Design.git
[submodule "C++/Books/design-patterns-cpp"]
	path = C++/Books/design-patterns-cpp
	url = https://github.com/JakubVojvoda/design-patterns-cpp.git
[submodule "C++/Books/cpp-design-patterns"]
	path = C++/Books/cpp-design-patterns
	url = https://github.com/sayden/cpp-design-patterns.git
[submodule "C++/Books/thinking-in-cpp"]
	path = C++/Books/thinking-in-cpp
	url = https://github.com/heuristicus/thinking-in-cpp.git
[submodule "C++/Books/tmplguide"]
	path = C++/Books/tmplguide
	url = https://github.com/Jeonghum/tmplguide.git
[submodule "C++/Books/SafeCPlusPlus"]
	path = C++/Books/SafeCPlusPlus
	url = https://github.com/vladimir-kushnir/SafeCPlusPlus.git
[submodule "C/Books/Sedgewick-algorithms-in-c-exercises-and-examples"]
	path = C/Books/Sedgewick-algorithms-in-c-exercises-and-examples
	url = https://github.com/caisah/Sedgewick-algorithms-in-c-exercises-and-examples.git
[submodule "C++/OOP-DesignPatterns"]
	path = OOP/Patterns
	url = https://github.com/john-bai/DesignPatterns.git
[submodule "C/Books/cii"]
	path = C/Books/cii
	url = https://github.com/drh/cii.git
[submodule "C++/StateMachine/tinyfsm"]
	path = C++/StateMachine/tinyfsm
	url = https://github.com/digint/tinyfsm.git
[submodule "C++/StateMachine/hsm"]
	path = C++/StateMachine/hsm
	url = https://github.com/amaiorano/hsm.git
[submodule "C++/StateMachine/simple-hsm"]
	path = C++/StateMachine/simple-hsm
	url = https://github.com/xiahouzuoxin/StateMachine
[submodule "C++/Books/Network-Programming-Project"]
	path = C++/Books/Network-Programming-Project
	url = https://github.com/GalProject/Network-Programming-Project.git
[submodule "C++/Embedded/Cortex-M3/usbarm"]
	path = C++/Embedded/Cortex-M3/usbarm
	url = https://github.com/fgervais/usbarm.git
[submodule "C++/Demo/Cortex-M3/armconsole"]
	path = C++/Demo/Cortex-M3/armconsole
	url = https://github.com/fgervais/armconsole.git
[submodule "C++/Demo/Cortex-M3/usbarm"]
	path = C++/Demo/Cortex-M3/usbarm
	url = https://github.com/fgervais/usbarm.git
[submodule "C++/Demo/Embedded/etl"]
	path = C++/Demo/Embedded/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "C++/Demo/Embedded/embxx"]
	path = C++/Demo/Embedded/embxx
	url = https://github.com/arobenko/embxx.git
[submodule "C++/Libraries/Poco"]
	path = C++/Libraries/Poco
	url = https://github.com/pocoproject/poco.git
[submodule "C++/Books/exploring-c-11"]
	path = C++/Books/exploring-c-11
	url = https://github.com/Apress/exploring-c-11.git
[submodule "C++/Libraries/Asio"]
	path = C++/Libraries/Asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "C++/OOP/Observer/WeatherStation"]
	path = C++/OOP/Observer/WeatherStation
	url = https://github.com/gayashanbc/observer-pattern-cpp.git
[submodule "C++/OOP/Reactor-Proactor/cpp-reactor-pattern-example"]
	path = C++/OOP/Reactor-Proactor/Reactor
	url = https://github.com/tomek2k4/cpp-reactor-pattern-example.git
[submodule "C++/OOP/Reactor-Proactor/Proactor"]
	path = C++/OOP/Reactor-Proactor/Proactor
	url = https://github.com/ronaldtf/Proactor.git
[submodule "C++/OOP/Reactor-Proactor/Reactor-Proactor-Example"]
	path = C++/OOP/Reactor-Proactor/Reactor-Proactor-Example
	url = https://github.com/seanbollin/reactor-proactor-example.git
[submodule "C++/Libraries/etl"]
	path = C++/Libraries/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "Rust/Books/Rust-Essentials-Second-Edition"]
	path = Rust/Books/Rust-Essentials-Second-Edition
	url = https://github.com/PacktPublishing/Rust-Essentials-Second-Edition.git
[submodule "Rust/Demo/zinc"]
	path = Rust/Demo/zinc
	url = https://github.com/hackndev/zinc.git
[submodule "Rust/Demo/rust-rtos"]
	path = Rust/Demo/rust-rtos
	url = https://github.com/alexchandel/rust-rtos.git
[submodule "Rust/Demo/freertos.rs"]
	path = Rust/Demo/freertos.rs
	url = https://github.com/hashmismatch/freertos.rs.git
[submodule "Rust/Demo/rust-drone"]
	path = Rust/Demo/rust-drone
	url = https://github.com/martindeegan/drone.git
[submodule "Rust/Demo/rust-rpi/pigpio"]
	path = Rust/Demo/rust-rpi/pigpio
	url = https://github.com/martindeegan/rust_pigpio.git
[submodule "Rust/Demo/rust-peripherals/ads1115"]
	path = Rust/Demo/rust-peripherals/ads1115
	url = https://github.com/martindeegan/rust-ads1115.git
[submodule "Rust/Demo/rust-peripherals/pca9685"]
	path = Rust/Demo/rust-peripherals/pca9685
	url = https://github.com/martindeegan/rust-pca9685.git
[submodule "C++/Books/awesome-cpp"]
	path = C++/Books/awesome-cpp
	url = https://github.com/fffaraz/awesome-cpp.git
[submodule "C++/Libraries/visioncpp"]
	path = C++/Libraries/visioncpp
	url = https://github.com/codeplaysoftware/visioncpp.git
[submodule "C++/Demo/Embedded/jobxx"]
	path = C++/Demo/Embedded/jobxx
	url = https://github.com/seanmiddleditch/jobxx.git
[submodule "C++/Demo/Embedded/massivethreads"]
	path = C++/Demo/Embedded/massivethreads
	url = https://github.com/massivethreads/massivethreads.git
[submodule "C++/Libraries/serial"]
	path = C++/Libraries/serial
	url = https://github.com/wjwwood/serial.git
[submodule "C++/Libraries/formatxx"]
	path = C++/Libraries/formatxx
	url = https://github.com/seanmiddleditch/formatxx.git
[submodule "C++/Libraries/serial_utils"]
	path = C++/Libraries/serial_utils
	url = https://github.com/wjwwood/serial_utils.git
[submodule "Javascript/stm32js"]
	path = Javascript/stm32js
	url = https://github.com/Catethysis/stm32js
[submodule "Javascript/ejs"]
	path = Javascript/ejs
	url = https://github.com/mde/ejs.git
[submodule "Javascript/opencv4nodejs"]
	path = Javascript/NodeJS/opencv4nodejs
	url = https://github.com/justadudewhohacks/opencv4nodejs.git
[submodule "Javascript/NodeJS/face-detection-node-opencv"]
	path = Javascript/NodeJS/face-detection-node-opencv
	url = https://github.com/drejkim/face-detection-node-opencv.git
[submodule "Javascript/NodeJS/ReactJS/Training/react-router"]
	path = Javascript/NodeJS/ReactJS/Training/react-router
	url = https://github.com/ReactTraining/react-router.git
[submodule "Javascript/NodeJS/ReactJS/Training/react-workshop"]
	path = Javascript/NodeJS/ReactJS/Training/react-workshop
	url = https://github.com/ReactTraining/react-workshop.git
[submodule "Javascript/NodeJS/ReactJS/Training/history"]
	path = Javascript/NodeJS/ReactJS/Training/history
	url = https://github.com/ReactTraining/history.git
[submodule "Javascript/NodeJS/ReactJS/Training/react-broadcast"]
	path = Javascript/NodeJS/ReactJS/Training/react-broadcast
	url = https://github.com/ReactTraining/react-broadcast.git
[submodule "Javascript/NodeJS/ReactJS/Training/react-media"]
	path = Javascript/NodeJS/ReactJS/Training/react-media
	url = https://github.com/ReactTraining/react-media.git
[submodule "Javascript/NodeJS/ReactJS/Training/react-history"]
	path = Javascript/NodeJS/ReactJS/Training/react-history
	url = https://github.com/ReactTraining/react-history.git
[submodule "Javascript/NodeJS/ReactJS/Training/react-stdio"]
	path = Javascript/NodeJS/ReactJS/Training/react-stdio
	url = https://github.com/ReactTraining/react-stdio.git
[submodule "Javascript/NodeJS/ReactJS/Training/react-point"]
	path = Javascript/NodeJS/ReactJS/Training/react-point
	url = https://github.com/ReactTraining/react-point.git
[submodule "Javascript/NodeJS/RPi/node-raspicam"]
	path = Javascript/NodeJS/RPi/node-raspicam
	url = https://github.com/troyth/node-raspicam.git
[submodule "Javascript/NodeJS/RPi/rpi-backlight"]
	path = Javascript/NodeJS/RPi/rpi-backlight
	url = https://github.com/pimterry/rpi-backlight.git
[submodule "Javascript/NodeJS/RPi/raspivid-stream"]
	path = Javascript/NodeJS/RPi/raspivid-stream
	url = https://github.com/pimterry/raspivid-stream.git
[submodule "Javascript/NodeJS/RPi/voice-controlled-zumo"]
	path = Javascript/NodeJS/RPi/voice-controlled-zumo
	url = https://github.com/markwest1972/voice-controlled-zumo.git
[submodule "Javascript/NodeJS/RPi/personal-assistant"]
	path = Javascript/NodeJS/RPi/personal-assistant
	url = https://github.com/augustogoncalves/personal-assistant.git
[submodule "Javascript/ReactJS/Examples/react-countdown"]
	path = Javascript/ReactJS/Examples/react-countdown
	url = https://github.com/kristinbaumann/react-countdown.git
[submodule "Javascript/ReactJS/Examples/React_Redux_todoApp"]
	path = Javascript/ReactJS/Examples/React_Redux_todoApp
	url = https://github.com/nunosoares27/React_Redux_todoApp.git
[submodule "Javascript/ReactJS/Examples/beginners-guide-to-react-router"]
	path = Javascript/ReactJS/Examples/beginners-guide-to-react-router
	url = https://github.com/dabit3/beginners-guide-to-react-router.git
[submodule "Javascript/ReactJS/Examples/react-pair"]
	path = Javascript/ReactJS/Examples/react-pair
	url = https://github.com/SophieDeBenedetto/react-pair.git
[submodule "Javascript/ReactJS/Examples/react-remote-component-demo"]
	path = Javascript/ReactJS/Examples/react-remote-component-demo
	url = https://github.com/jamesmartin/react-remote-component-demo.git
[submodule "Javascript/ReactJS/Examples/universal-redux-template"]
	path = Javascript/ReactJS/Examples/universal-redux-template
	url = https://github.com/mz026/universal-redux-template.git
[submodule "Javascript/NodeJS/socketio-monitoring"]
	path = Javascript/NodeJS/socketio-monitoring
	url = https://github.com/avidas/socketio-monitoring.git
