[submodule "Go/go-hardware"]
	path = Go/go-hardware
	url = https://github.com/rakyll/go-hardware.git
[submodule "Go/embd"]
	path = Go/embd
	url = https://github.com/kidoman/embd.git
[submodule "Python/Python-Design-Patterns"]
	path = Python/Python-Design-Patterns
	url = https://github.com/buckyroberts/Python-Design-Patterns.git
[submodule "Python/python-patterns"]
	path = Python/python-patterns
	url = https://github.com/faif/python-patterns.git
[submodule "C++/Books/Mastering-Cpp-Programming"]
	path = C++/Books/Mastering-Cpp-Programming
	url = https://github.com/PacktPublishing/Mastering-Cpp-Programming.git
[submodule "C++/Books/CppCoreGuidelines"]
	path = C++/Books/CppCoreGuidelines
	url = https://github.com/isocpp/CppCoreGuidelines.git
[submodule "C++/Books/Advanced-C-Cxx-2017"]
	path = C++/Books/Advanced-C-Cxx-2017
	url = https://github.com/W4RH4WK/UIBK-703807-Advanced-C-CXX.git
[submodule "C++/Books/design-patterns-cpp14"]
	path = C++/Books/design-patterns-cpp14
	url = https://github.com/makiolo/design-patterns-cpp14.git
[submodule "C++/Books/awesome-modern-cpp"]
	path = C++/Books/awesome-modern-cpp
	url = https://github.com/rigtorp/awesome-modern-cpp.git
[submodule "C++/Books/advanced-cpp"]
	path = C++/Books/advanced-cpp
	url = https://github.com/SofiaCPP/advanced-cpp.git
[submodule "C++/Books/Mastering-CPP-Multithreading"]
	path = C++/Books/Mastering-CPP-Multithreading
	url = https://github.com/PacktPublishing/Mastering-CPP-Multithreading.git
[submodule "C++/Books/Modern-Cxx-Design"]
	path = C++/Books/Modern-Cxx-Design
	url = https://github.com/inzombiak/Modern-C-Design.git
[submodule "C++/Books/design-patterns-cpp"]
	path = C++/Books/design-patterns-cpp
	url = https://github.com/JakubVojvoda/design-patterns-cpp.git
[submodule "C++/Books/cpp-design-patterns"]
	path = C++/Books/cpp-design-patterns
	url = https://github.com/sayden/cpp-design-patterns.git
[submodule "C++/Books/thinking-in-cpp"]
	path = C++/Books/thinking-in-cpp
	url = https://github.com/heuristicus/thinking-in-cpp.git
[submodule "C++/Books/tmplguide"]
	path = C++/Books/tmplguide
	url = https://github.com/Jeonghum/tmplguide.git
[submodule "C++/Books/SafeCPlusPlus"]
	path = C++/Books/SafeCPlusPlus
	url = https://github.com/vladimir-kushnir/SafeCPlusPlus.git
[submodule "C/Books/Sedgewick-algorithms-in-c-exercises-and-examples"]
	path = C/Books/Sedgewick-algorithms-in-c-exercises-and-examples
	url = https://github.com/caisah/Sedgewick-algorithms-in-c-exercises-and-examples.git
[submodule "C++/OOP-DesignPatterns"]
	path = OOP/Patterns
	url = https://github.com/john-bai/DesignPatterns.git
[submodule "C/Books/cii"]
	path = C/Books/cii
	url = https://github.com/drh/cii.git
[submodule "C++/StateMachine/tinyfsm"]
	path = C++/StateMachine/tinyfsm
	url = https://github.com/digint/tinyfsm.git
[submodule "C++/StateMachine/hsm"]
	path = C++/StateMachine/hsm
	url = https://github.com/amaiorano/hsm.git
[submodule "C++/StateMachine/simple-hsm"]
	path = C++/StateMachine/simple-hsm
	url = https://github.com/xiahouzuoxin/StateMachine
[submodule "C++/Books/Network-Programming-Project"]
	path = C++/Books/Network-Programming-Project
	url = https://github.com/GalProject/Network-Programming-Project.git
[submodule "C++/Embedded/Cortex-M3/usbarm"]
	path = C++/Embedded/Cortex-M3/usbarm
	url = https://github.com/fgervais/usbarm.git
[submodule "C++/Demo/Cortex-M3/armconsole"]
	path = C++/Demo/Cortex-M3/armconsole
	url = https://github.com/fgervais/armconsole.git
[submodule "C++/Demo/Cortex-M3/usbarm"]
	path = C++/Demo/Cortex-M3/usbarm
	url = https://github.com/fgervais/usbarm.git
[submodule "C++/Demo/Embedded/etl"]
	path = C++/Demo/Embedded/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "C++/Demo/Embedded/embxx"]
	path = C++/Demo/Embedded/embxx
	url = https://github.com/arobenko/embxx.git
[submodule "C++/Libraries/Poco"]
	path = C++/Libraries/Poco
	url = https://github.com/pocoproject/poco.git
[submodule "C++/Books/exploring-c-11"]
	path = C++/Books/exploring-c-11
	url = https://github.com/Apress/exploring-c-11.git
[submodule "C++/Libraries/Asio"]
	path = C++/Libraries/Asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "C++/OOP/Observer/WeatherStation"]
	path = C++/OOP/Observer/WeatherStation
	url = https://github.com/gayashanbc/observer-pattern-cpp.git
[submodule "C++/OOP/Reactor-Proactor/cpp-reactor-pattern-example"]
	path = C++/OOP/Reactor-Proactor/Reactor
	url = https://github.com/tomek2k4/cpp-reactor-pattern-example.git
[submodule "C++/OOP/Reactor-Proactor/Proactor"]
	path = C++/OOP/Reactor-Proactor/Proactor
	url = https://github.com/ronaldtf/Proactor.git
[submodule "C++/OOP/Reactor-Proactor/Reactor-Proactor-Example"]
	path = C++/OOP/Reactor-Proactor/Reactor-Proactor-Example
	url = https://github.com/seanbollin/reactor-proactor-example.git
